extends ./wrapper.jade

block content
    h2 Add Course
    br
    form(name = 'addCourse', action='/admission/transfer/credits/app/addCourseAction',method='POST')
      table(style='width:50%')
        tr
          td School: 
          td
            select(id='schools', name='schools', onchange='getDepartments(selected.schoolname)')
              each school in schools
                option(value=school.sid, selected=selected)= school.schoolname
        tr
          td Department:
          td 
            select(id='department', name='department')
              option ACC
              option BIO
              option CMPT
              option MATH
              option PHYS
        tr
          td Course Number:
          td
            input(type='text', name='courseNumber', align='right')
        tr
          td Credits:
          td
            input(type='text', name='credits', align='right')
        tr
          td Description:
          td
            textarea(rows='4', cols='50', name='description', align='right')
        tr
          td
            input(type='submit',value='Add Course')
 
