extends ./wrapper.jade

block content
    h2 Add Department
    br
    form(name = 'addDepartment', action='/admission/transfer/credits/app/addDepartmentAction',method='POST')
        | School: 
        select(id='schools',name='schools')
           option(value="Marist", selected=selected)= "Marist" 
           each school in schools
                option(value=school, selected=selected)= school
        br
        | Department Name:
        input(type='text', name='departmentName', align='right')
        br
        input(type='submit',value='Add Department')
 
