extends ./wrapper.jade

block content
    h2 Change Password
    br
    form
      | Old Password: 
      input(type='password', name='oldPassword')
      br
      | New Password: 
      input(type='password', name='newPassword')
      br
      | Confirm New Password: 
      input(type='password', name='confirmNewPassword')
      br
      submit Change Password

