extends ./wrapper.jade

block content
    h2 Change Password
    br
    form(name = 'changePassword', action='changePasswordAction',method = 'POST', onSubmit = 'return encode()')
      table(style='width:50%')
        tr
          td Old Password: 
          td
            input(type='password', name='oldPassword')
        tr
          td New Password: 
          td
            input(type='password', name='newPassword')
        tr
          td Confirm New Password: 
          td
            input(type='password', name='confirmNewPassword')
        tr
          td
            input(type='submit',value='Change Password')
      script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js')
      script.
        function encode(){
        document.changePassword.newPassword.value = CryptoJS.SHA256(document.changePassword.newPassword.value);
        return true;      
        }
