extends ./wrapper.jade

block content
    h2 Change Password
    br
    form(name = 'changePassword', action='changePasswordAction',method = 'POST', onSubmit = 'return encode()')
      | Old Password: 
      input(type='password', name='oldPassword')
      br
      | New Password: 
      input(type='password', name='newPassword')
      br
      | Confirm New Password: 
      input(type='password', name='confirmNewPassword')
      br
      script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js')
      script.
        function encode(){
        document.changePassword.newPassword.value = CryptoJS.SHA256(document.changePassword.newPassword.value);
        return true;      
        }
      input(type='submit',value='Change Password')
