extends ./wrapper.jade

block content
    h2 Course Selection
    br
    p
      | Select Courses that you have previously taken
    br
    form(action='/admission/transfer/credits/app/courseEvalutation',method='POST')
        select(id='courses',name='courses')
            each course in courses
                option(value=course, selected=selected)= course
        input(type='submit',value='Select Course')
    br
        br
        | Don't see a course? Submit a request 
        a(href='/admission/transfer/credits/app/requestCourse') here
