extends ./wrapper.jade

block content
    h2 Course Selection
    br
    p
      | Select Courses that you have previously taken
      br
      form(action='post')
        div(id='selectors')
          select
            option(value='Marist') Dutechess
          select(onchange='getCourseNumbers()')
            each department in depts
              option= department
          br
        button#submit(type='submit') Submit Courses
        a(href='/admission/transfer/credits/app/courseEvaluation') Submit
        br
        | Don't see a course? Submit a request 
        a(href='/admission/transfer/credits/app/requestCourse') here
