extends ./wrapper.jade

block content
    h2 Evaluation
    br
    a(href='/admission/transfer/credits/app/courseSelection',method='POST') Reselect Courses
    br
    a(href='/admission/transfer/credits/app/login') Save

