extends ./wrapper.jade

block content
    h1 Transferring Credits
    b
      a(href="/admission/transfer/credits/app/start",style='float:right;font-size:14pt',border='1px solid')
        | Try our course evaluation app here!
    ul
      li
        a(href='/admission/transfer/pdfs/creditbyproficiencyexaminationsweb.pdf') AP Criteria for Marist Credit
      li
        a(href='/admission/transfer/pdfs/ib_credits.pdf') IB Criteria for Marist Credit
    p
      | Transfers from two-year colleges must complete at least 50 credits hours at Marist. Transfers from four-year colleges must complete a minimum of 30 credit hours at Marist. Up to 70 credits may be accepted from a community college or accredited two-year institution, although fulfilling requirements toward a student's degree is dependent on meeting all specific program requirements for that degree. All transfer students must complete a minimum of 12 hours of upper-level credits in the major field. A maximum of eight transfer credits can be accepted towards a minor, concentration, or certificate.
    h2 Transfer Credit Evaluations:
    ul
      li
        | Official transcript evaluations are performed for accepted, deposited and matriculated students who submit college transcripts for review.
      li
        | Marist does not pre-evaluate courses that prospective students may plan to take in the future at another college. Prospective students are encouraged to use the Marist Online Catalog as guide when choosing courses to take at another college.
      li
        | Prospective students will receive an official transcript evaluation for the program to which they apply. The evaluation will be mailed to each candidate after all records are received.
      li
        | The evaluation will specify how many credits are transferable towards the baccalaureate degree at Marist, how many credits may be accepted but not applied towards the baccalaureate degree, and the remaining courses necessary to fulfill Marist degree requirements.
      li
        | Any questions pertaining to the evaluation should be directed to the appropriate admitting office.
    h2 Transfer credit is evaluated as stipulated below:
    ol
      li The course(s) must be similar in scope and content to courses offered at Marist.
      li
        | Only courses in which a C or better has been obtained may be transferred to meet major, related field, and Core requirements. Credit for C- grades may be awarded on the elective credit category only.
      li
        | Transfer courses 
        em applicable
        |  to a student's academic program will be accepted from accredited colleges and universities that meet Marist College's transferability standards. (Check with the Office of the Registrar for a complete list of acceptable accrediting agencies.)
      li
        | The awarding of a baccalaureate degree is dependent on meeting the specific requirements for that degree. Consequently, it may be possible, under exceptional circumstances, for a student to have completed 120 or more credits and not be eligible to be awarded a degree.
      li
        | Grades for courses taken at other institutions are not included in the computation of the student's grade-point average at Marist.
    div(style='position:absolute; left: 0px; top: 0px;')
      a(href='http://cms.is.marist.edu/10?skin=oucampus&account=Main&site=Home&action=de&path=/admission/transfer/credits.html')
        img(src='/z-omniupdate/dired.gif', style='border:0px; width:8px; height:15px', alt='edit')
    aside#body-relatedinfo
      hr
      .floatleft
        h1
          | Related Information:
        ul
          li
            a(href='/financialaid/transfer/tuitionandfees.html') Costs & Tuition
          li
            a(href='/financialaid/transfer/aid.html')
              | Financial Aid &
              | Scholarships
          li
            a(href='/academics/') Academic Schools & Majors
          li
            a(href='/academics/special.html') Special Academic Opportunities
          li
            a(href='/housing/') Housing & Residential Life
          li
            a(href='/about/tour/') Online Tour

