extends ./wrapper.jade

block content
    h2 Delete Departments
    p
    form(name = 'deleteDepartment', action='/admission/transfer/credits/app/deleteDepartmentAction',method='POST')
      table(style='width:100%', text-align='center', border='1')
        tr
          th Delete
          th Department
          th School
        each department in departments
          tr
            td
              input(type='checkbox', name='did', value=department.did)
            td= department.departmentname
            td= department.schoolname
      input(type='submit' value='Submit')
