extends ./wrapper.jade

block content
    h2 Edit Department
    br
    form(name = 'editDepartment', action='/admission/transfer/credits/app/editDepartmentAction',method='POST')
      input(type='hidden', name='did', value=departmentData.did)
      table(style='width:50%')
        tr
          td School: 
          td= departmentData.schoolname 
        tr
          td Department Name:
          td
            input(type='text', name='departmentName', align='right' value=departmentData.departmentname)
        tr
          td
            input(type='submit',value='Edit Department')
 
