extends ./wrapper.jade

block content
    h2 Main Menu
    br
    a(href='/admission/transfer/credits/app/courseEvaluation') View Saved Courses
    br
    a(href='/admission/transfer/credits/app/start') Create New Course Selection
    br
    a(href='/admission/transfer/credits/app/changePassword') Change Password
