extends ./wrapper.jade

block content
    h2 Main Menu
    br
    a(href='/admission/transfer/credits/app/courseEvaluation') View Saved Courses
    br
    a(href='/admission/transfer/credits/app/start') Create New Course Selection
    br
    a(href='/admission/transfer/credits/app/changePassword') Change Password
    br    
    if clearance >= 1
      a(href='/admission/transfer/credits/app/addCourse') Add Course
      br
      a(href='/admission/transfer/credits/app/addDepartment') Add Department
      br
    if  clearance >= 2
      a(href='/admission/transfer/credits/app/addSchool') Add School
      br
      a(href='/admission/transfer/credits/app/addUser') Add User
      br
       
