extends ./wrapper.jade

block content
    table(style="width:75%")
      tr
        td
          h2 Main Menu
          a(href='/admission/transfer/credits/app/start') Create New Course Selection
        if clearance > 0
          td
            h2 Add
            a(href='/admission/transfer/credits/app/addCourse') Course
          td
            h2 Edit
            a(href='/admission/transfer/credits/app/editCourse') Course
          td
            h2 View
            a(href='/admission/transfer/credits/app/viewCourse') Courses
          td
            h2 Delete
            a(href='/admission/transfer/credits/app/deleteCourse') Courses
      tr
        td
          form(id='sel',action='/admission/transfer/credits/app/courseSelection',method='POST',onclick='form.submit()',style='display:none;')
          a(onclick='document.getElementById("sel").submit()',style='color:#B31B1B') View Saved Course Evaluation
        if clearance > 0
          td
            a(href='/admission/transfer/credits/app/addDepartment') Department
          td
            a(href='/admission/transfer/credits/app/editDepartment') Department
          td
            a(href='/admission/transfer/credits/app/viewDepartment') Departments
          td
            a(href='/admission/transfer/credits/app/deleteDepartment') Departments
      tr
        td
          a(href='/admission/transfer/credits/app/changePassword') Change Password
        if clearance > 1
          td
            a(href='/admission/transfer/credits/app/addSchool') School
          td
            a(href='/admission/transfer/credits/app/editSchool') School
          td
            a(href='/admission/transfer/credits/app/viewSchool') Schools
          td
            a(href='/admission/transfer/credits/app/deleteSchool') Schools
      if clearance > 1
        tr
          td
            br
          td
            a(href='/admission/transfer/credits/app/addUser') User
          td
            a(href='/admission/transfer/credits/app/editUser') User
          td
            a(href='/admission/transfer/credits/app/viewUser') Users
          td
            a(href='/admission/transfer/credits/app/deleteUser') Users
    br
