extends ./wrapper.jade

block content
    table(style="width:75%")
      tr
        td
          h2 Main Menu
          a(href='/admission/transfer/credits/app/start') Create New Course Selection
        if clearance == 1
          td
            h2 Add
            a(href='/admission/transfer/credits/app/addCourse') Course
        if clearance == 3
          td
            h2 Add
            a(href='/admission/transfer/credits/app/addUser') User
          td
            h2 Edit
            a(href='/admission/transfer/credits/app/editUser') User
          td
            h2 View
            a(href='/admission/transfer/credits/app/viewUser') Users
          td
            h2 Delete
            a(href='/admission/transfer/credits/app/deleteUser') User
      tr
        td
          a(href='/admission/transfer/credits/app/courseEvaluation') View Saved Course Evaluation
        if clearance == 1
          td
            a(href='/admission/transfer/credits/app/addDepartment') Department
        if clearance == 3
          td
            a(href='/admission/transfer/credits/app/addSchool') School
          td
            a(href='/admission/transfer/credits/app/editSchool') School
          td
            a(href='/admission/transfer/credits/app/viewSchool') Schools
          td
            a(href='/admission/transfer/credits/app/deleteSchool') School
      tr
        td
          a(href='/admission/transfer/credits/app/changePassword') Change Password
        if clearance == 3
          td
            a(href='/admission/transfer/credits/app/addCourse') Course
          td
            a(href='/admission/transfer/credits/app/editCourse') Course
          td
            a(href='/admission/transfer/credits/app/viewCourse') Courses
          td
            a(href='/admission/transfer/credits/app/deleteCourse') Course
      tr
        td
          br
        if clearance == 3
          td
            a(href='/admission/transfer/credits/app/addDepartment') Department
          td
            a(href='/admission/transfer/credits/app/editDepartment') Department
          td
            a(href='/admission/transfer/credits/app/viewDepartment') Departments
          td
            a(href='/admission/transfer/credits/app/deleteDepartment') Department
    br