extends ./wrapper.jade

block content
    h2 Course Request Sent
    p
      | Thank You!
      br
      | Your subbmission will be reviewed.
      | An email will be sent to you when a decision has been made.
    a(href='/admission/transfer/credits/app/start') Return to School Selection
