extends ./wrapper.jade

block content
    h2 Evaluate Transfer Credit
    p
      | This application generates unofficial transfer credit evaluations. It can provide an estimation of which courses from external schools will transfer to Marist College for academic credit. You can also compare different majors at Marist with your currently completed courses. Please note, all evaluations are unofficial; transferrability of courses is not guaranteed. 
    br
    p
      | To begin, please select the institution from the following list from which the courses would be transferred. To save your data, you need to create an account.
    br
    form(action='/admission/transfer/credits/app/courseSelection',method='POST')
        select(id='schools',name='schools')
            each school in schools
                option(value=school, selected=selected)= school
        input(type='submit',value='Select School')
    br
    if !user
      a(href='/admission/transfer/credits/app/login') Login
      br
      a(href='/admission/transfer/credits/app/createAccount') Create Account
      br

   
