extends ./wrapper.jade

block content
    h2 View Users
    p
      table(style='width:100%', text-align='center', border='1')
        tr
          th First Name
          th Last Name
          th Gender
          th Age
          th Race
          th State
          th Email Address
        tr
          //get info from query