extends ./wrapper.jade

block content
  h2 Departments
  p
    table(style='width:100%', text-align='center', border='1')
      tr
        th Department
        th School
      each department in departments
        tr
          td= department.departmentname
          td= department.schoolname
